@model Blogger.Models.Country

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asia.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asia.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
